.MovieList{
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
    gap: 30px;
    justify-content: center;
      list-style: none;
      margin-left: auto;
      margin-right: auto;
}


.MovieListItem{
    background-color: rgb(255, 255, 255);
    width: 350px;
}

.MovieListLink{
    text-decoration: none;
}

.MovieListImg{
    height: 450px;
    width: 350px;
}

.MovieListTitle{
    
    margin-left: 24px;
    color: rgb(5, 95, 5);
    font-size: 20px;
}
